<section>
<perch:form id="bom_file_add" app="wheeliams" method="post" class="flow">

	<header>
		<h2>Attach a File</h2>
	</header>
	
	<article>
		<div class="drag-and-drop" style="width:100%;height:100px;">
			<label>Drop File Here</label>
		</div>
		<div class="file-browse-row" style="margin-top:8px;">
			<label class="button small subtle">Browse for a file&hellip;<input type="file" class="file-browse" hidden></label>
		</div>
		<div>
			<perch:input type="hidden" id="wheeliams_fileID" />
			<perch:input id="fileType" value="KIT" type="hidden">
			<perch:input type="hidden" id="partCode" />
		</div>
		<perch:success>
			<p class="alert success">File uploaded | <a href="/boms/?type=<perch:forms id="type" />&edit=1&id=<perch:forms id="perch3_wheeliams_componentID" />">Continue</a></p>
		</perch:success>
	</article>
	
</perch:form>
</section>
