<section>
<perch:form id="component_supplier_add" app="wheeliams" method="post" class="flow">

	<header>
		<h2>Assign a Supplier</h2>
	</header>
	
	<article>
		<div>
			<perch:label for="wheeliams_supplierID">Supplier</perch:label>
			<perch:input type="select" id="wheeliams_supplierID" options="<perch:forms id="suppliers">" />
		</div>
		<perch:success>
			<p class="alert success">Supplier assigned | <a href="/components/?type=<perch:forms id="type" />&edit=1&id=<perch:forms id="perch3_wheeliams_componentID" />">Continue</a></p>
		</perch:success>
	</article>
	
	<footer>
		<perch:input type="submit" value="Assign to Component" class="button primary" />
	</footer>
	
</perch:form>
</section>