<perch:form id="component_supplier_price" app="wheeliams" method="post" class="flow simple">

		<div>
			<perch:label for="wheeliams_supplierID">Update Price</perch:label>
			<perch:input type="text" id="price" value="<perch:form id="price">
		</div>
		<div>
			<perch:label for="cost_date">Cost Date</perch:label>
			<perch:input type="date" id="cost_date" value="<perch:form id="cost_date">
		</div>
		<div>
			<perch:label for="supplier_part_code">Supplier Part Code</perch:label>
			<perch:input type="text" id="supplier_part_code" value="<perch:form id="supplier_part_code">
		</div>
		<div>
			<perch:label for="supplier_uom">Supplier UOM</perch:label>
			<perch:input type="text" id="supplier_uom" value="<perch:form id="supplier_uom">
		</div>
		<perch:success>
			<p class="alert success">Price updated | <a href="/components/?type=<perch:forms id="type" />&edit=1&id=<perch:forms id="perch3_wheeliams_componentID" />">Continue</a></p>
		</perch:success>

		<perch:input type="submit" value="Update" class="button primary" />
		<perch:input type="hidden" id="wheeliams_supplierID" />
	
</perch:form>