<section>
<perch:form id="supplier" app="wheeliams" method="post" class="flow">

	<header>
		<h2>Supplier</h2>
	</header>
	
	<article>
		<div>
			<perch:label for="name">Supplier Name</perch:label>
			<perch:input type="text" id="name" />
		</div>
		
		<div>
			<perch:label for="contact_first_name">Contact First Name</perch:label>
			<perch:input type="text" id="contact_first_name" />
		</div>
		
		<div>
			<perch:label for="contact_last_name">Contact Last Name</perch:label>
			<perch:input type="text" id="contact_last_name" />
		</div>
		
		<div>
			<perch:label for="address_1">Address 1</perch:label>
			<perch:input type="text" id="address_1" />
		</div>
		
		<div>
			<perch:label for="address_2">Address 2</perch:label>
			<perch:input type="text" id="address_2" />
		</div>
		
		<div>
			<perch:label for="address_3">Address 3</perch:label>
			<perch:input type="text" id="address_3" />
		</div>
		
		<div>
			<perch:label for="post_code">Post Code</perch:label>
			<perch:input type="text" id="post_code" />
		</div>
		
		<div>
			<perch:label for="country">Country</perch:label>
			<perch:input type="select" id="country" options="United Kingdom" />
		</div>
		
		<div>
			<perch:label for="phone">Phone</perch:label>
			<perch:input type="text" id="phone" />
		</div>
		
		<div>
			<perch:label for="email">General Email</perch:label>
			<perch:input type="text" id="email" />
		</div>
		
		<perch:success>
			<p class="alert success">Success</p>
		</perch:success>
	</article>
	
	<footer>
		<perch:input type="submit" value="Save" class="button primary" />
	</footer>
	
	<perch:input type="hidden" id="wheeliams_supplierID" />
	
</perch:form>
</section>